html, body {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}
#box {
    position:relative;
    width: 100%;
    height: 100%;
}
.chute {
    border-style: solid;
    border-radius:50px;
    width:75px;
    height:75px;
    background-image:url('icon.png');
    background-position: center;
    background-repeat: no-repeat;
    position:absolute;
    display: block;
    
}















